{{# if products }}
   <h1 align="center"><b>Orders Successfully placed</b></h1>
   <div class="row">
       <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
           <ul class="list-group">
               {{# each products }}
                   <li class="list-group-item">
                       <strong>{{ this.product_name }}</strong>
                       &nbsp;&nbsp;&nbsp;
                       <span class="label label-success">
                           <strong>${{ this.product_price }}
                           </strong>
                       </span>
                   </li>
               {{/each}}
           </ul>
       </div>
   </div>
   <div class="row">
       <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
           <strong>Total Quantity: {{ total_quantity  }}</strong>
       </div>
   </div>

   <div class="row">
       <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
           <strong>Total Price: {{ total_price }}</strong>
       </div>
   </div>
   <hr>
   <div class="row">
       <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
           <a href="/productcatalog" type="button" class="btn btn-success">Get more caffein</a>
       </div>
   </div>
{{ else }}
   <div class="row">
       <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
           <h2>No Items in Cart</h2>
       </div>
   </div>
{{/if}}